<div class="row animated fadeIn">
  <div class="col-12 mb-4">
    <h1 class="text-primary text-center text-uppercase">Sobre <span class="text-muted">Comic app</span></h1>
  </div>
  <div class="col-6 pt-4 pb-4 pl-5 pr-5">
    <h3>Careers</h3>
    <p>Come help us make collaboration even better. We’ve built a company we truly love working for, and we think you will too.</p>
  </div>
  <div class="col-6 pt-4 pb-4 pl-5 pr-5">
    <h3>Press</h3>
    <p>Developers from all around the world are building amazing things together. Their story is our story.</p>
  </div>
  <div class="col-6 pt-4 pb-4 pl-5 pr-5">
    <h3>Blog</h3>
    <p>Learn about the latest company info, new features, and general goings-on at GitHub.</p>
  </div>
  <div class="col-6 pt-4 pb-4 pl-5 pr-5">
    <h3>Leadership</h3>
    <p>Meet the team leaders behind the world’s leading software development platform.</p>
  </div>
  <div class="col-6 pt-4 pb-4 pl-5 pr-5">
    <h3>GitHub Status</h3>
    <p>We continuously monitor the status of github.com and all its related services. If there are any interruptions in service, a note will be posted here.</p>
  </div>
  <div class="col-6 pt-4 pb-4 pl-5 pr-5">
    <h3>Milestones</h3>
    <p>A timeline of significant moments in GitHub's history.</p>
  </div>
</div>